---
const pageTitle = 'About Me';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <h1>About Me :)</h1>
        <h2>Photographer, engineer, and other stuff sometimes...</h2>

        <p>Welcome to my site, I'm glad you've come to have a look!</p>
        <p>Take a look around, and see what you find :)</p>

        <!-- Nav section: -->
        <h2>Links:</h2>

        <a href="/">Homepage (index)</a>
        <a href="/about/">About page</a>
        <a href="/blog/">Blog section</a>
        <a href="/construction/">How the site was made</a>

        <style>
            h1 {
                color: blue;
                font-size: 4rem;
            }
        </style>
    </body>
</html>
