---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const PageTitle = 'About';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PageTitle} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
			About
				</h1>

			<!-- This line is reserved for use for image tag - self portrait on this page. -->
			
			<p>
               Thanks for swinging by my site! I really appreciate it.
			</p>


		</main>
		<Footer />
	</body>
</html>
