---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Site construction | jtyoung.me</title>
    </head>

    <body>
        <h1>About this site</h1>
        <h2>This is about to get technical, so it may not be for you...</h2>

        <p>How was this site made ....</p>

        <Navigation />
    </body>
</html>
