---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="indextitle">
			<h1>Hello.<br>Welcome to my site :)</h1>
				</div>
			<h2><br>
				Nice to see you here.
				<br><br>
				I do things...
				<br>
			</h2>
			<div class="indexlinks">
				<a href="">Links section ....</a>
			</div>

		</main>
		<Footer />
		<style>
			h2 {
				font-size: 28px;
				font-weight: 500
			}
			.indextitle {
				..
			}
		</style>
	</body>
</html>
